# Exclude everything by default
*

# Whitelist specific files
!src/**/*
!tests/**/*
!setup.py
!requirements.txt
!pytest.ini
!csbot.*.cfg
!csbot.*.toml

# Exclude Python temp files
**/__pycache__
**/*.pyc
