# Vim
.*.sw[a-z]
*.un~

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Haskell
dist
cabal-dev
*.o
*.hi
*.chi
*.chi.h

# Python
*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
_trial_temp/
htmlcov

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# PyCharm
.idea/

# Linters
.ropeproject/
