###
## This is the default configuration file for the CS bot.
###

# DEFAULT configuration is visible to the bot and all plugins. If something needs
# to be visible to multiple plugins, this is where it lives. Values in DEFAULT
# can be overridden in a plugin's configuration, simply by redefining the value.
[DEFAULT]

# This configuration is specific to the core bot class
[@bot]
# Default value: csyorkbot
#nickname = 

# Default value: csyorkbot
#username = 

# Default value: cs-york bot
#realname = 

# Default value: http://github.com/csyork/csbot/
#sourceURL = 

# Default value: 1
#lineRate = 

# Default value: irc.freenode.net
#irc_host =

# Default value: 6667
#irc_port =

# Default value: !
#command_prefix =

# Default value: #cs-york-dev
#channels =

# Default value: example
#plugins =

# Configuration for the MongoDB plugin
[mongodb]

# Default value: mongodb://localhost:27017
#uri =

# Default value: csbot__
#prefix =

# This configuration is for the Example plugin
[example]
foo = bar

[topic]
separator = ::
users = Haegin Alan DinCahill hayashi
