# Requirements for deployment
click>=6.2,<7.0
straight.plugin==1.4.0-post-1
pymongo>=3.4.0
requests>=2.9.1,<3.0.0
lxml>=2.3.5
google-api-python-client>=1.4.1,<2.0.0
imgurpython>=1.1.6,<2.0.0
isodate>=0.5.1
rollbar

# Requirements for unit testing
responses
coverage>=4.0.3,<5.0.0
python-coveralls>=2.6.0,<2.7.0
mongomock

# Requirements for documentation
# (commented out to save build time)
#sphinx
