# Requirements for unit testing
pytest>=7.0.1,<8
pytest-asyncio==0.18.1
pytest-aiohttp==1.0.4
aioresponses==0.7.3
pytest-cov
asynctest==0.13.0
aiofastforward==0.0.24
mongomock

# Requirements for documentation
# (commented out to save build time)
#sphinx

-e .
