# Requirements for unit testing
pytest>=5.2.2,<6.0
pytest-asyncio==0.10.0
pytest-aiohttp==0.3.0
aioresponses==0.6.1
pytest-cov
asynctest==0.13.0
aiofastforward==0.0.24
mongomock

# Requirements for documentation
# (commented out to save build time)
#sphinx

-e .
