# Additional requirements for development (e.g. documentation, linting)
-r requirements.txt
# Documentation
Sphinx
# Frozen flake8 version so new checks don't fail existing code
flake8==1.6.2
# Requirements for unit tests
httpretty>=0.5.4